<h2 class="title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :profile_picture, 'Add a profile picture (optional)', class: 'label' %>
    <%= f.hidden_field :profile_picture_cache %>
    <div class="file has-name is-boxed is-small is-link" id="profile-picture-picker">
      <label class="file-label">
        <%= f.file_field :profile_picture, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file...
          </span>
        </span>
        <span class="file-name">
          No picture uploaded.
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, autofocus: true, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, autocomplete: "email", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
                                                   class: 'input'%>
    </div>
  </div>

  <div class="actions">
    <div class="field">
      <div class="control">
        <%= f.submit "Sign up", class: 'button is-link' %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
