<div class="navbar-start">

  <%= link_to 'Post something', new_post_path, class: 'navbar-item showable' %>
  <%= link_to 'User catalog', users_path, class: 'navbar-item showable' %>

  <%= link_to 'Friends', friendships_path, class: 'navbar-item showable' %>
  <%= link_to 'Profile', user_path(current_user), class: 'navbar-item showable' %>

  <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-item showable' %>
  
</div>

<div class="navbar-end">
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Notifications
    </a>

    <div class="navbar-dropdown">
      <% if current_user.received_requests.any? %>
        <% current_user.received_requests.each do |request| %>
          <div class="navbar-item">
            <%= request.sender.name %> has sent a friend request
            <%= form_tag friendships_path do %>
              <%= hidden_field_tag :friend_request_id, request.id %>
              <%= hidden_field_tag :friend_id, request.sender.id %>
              <%= submit_tag 'Add friend' %>
            <% end %>
            <%= form_tag friendships_path do %>
              <%= hidden_field_tag :friend_request_id, request.id %>
              <%= hidden_field_tag :friend_id, request.sender.id %>
              <%= submit_tag 'Add friend' %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="navbar-item">
          *No new notifications*
        </p>
      <% end %>
    </div>
  </div>
  <div class="navbar-item">
    <div class="buttons">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete,
                              class: 'button' %>
    </div>
  </div>
</div>
