<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag post.author.profile_picture_url(:thumb).to_s %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <%= render "posts/heading", post: post %>

      <% if post.liked_by?(current_user) %>
        <%= form_tag post_like_path(post, post.likes.find_by(user: current_user)), method: :delete,
                     style: 'display: inline !important;' do %>
          <%= submit_tag 'Remove like', class: 'button is-danger is-light is-small' %>
        <% end %>
      <% else %>
        <%= form_tag post_likes_path(post), method: :post, style: 'display: inline !important;' do %>
          <%= hidden_field_tag :post_id, post.id %> 
          <%= submit_tag 'Like post', class: 'button is-success is-light is-small' %>
        <% end %>
      <% end %>
      <br>
      <%= post.content %>
    </div>
    <%= form_tag post_comments_path(post), method: :post do %>
      <%= hidden_field_tag 'comment[post_id]', post.id %>
      <%= text_area_tag 'comment[content]', nil, placeholder: 'Say something about it...', class: 'textarea', rows: 1, required: 'required' %>
      <div class="level is-mobile" style="padding: 10px 0;">
        <div class="level-left">
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= submit_tag 'Comment', class: 'button is-success is-light is-small' %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</article>
