<div class="box">
  <p class="title has-text-centered is-5">Create post</p>
  <div class="errors content">
    <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>  
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= form_with model: @post do |f| %>
    <%= f.hidden_field :user_id %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= image_tag current_user.profile_picture_url(:thumb).to_s %>
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <%= f.text_area :content, class: 'textarea', placeholder: "Tell us what's on your mind..." %>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <%= f.submit 'Post to feed', class: 'button is-link' %>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
                <%= f.label class: 'checkbox' do %>
                  Gift yourself the first like ;)
                  <%= f.check_box :like_own_post %>
                <% end %>
            </div>
          </div>
        </nav>
      </div>
    </article>
  <% end %>
</div>
