<!DOCTYPE html>
<html>
  <head>
    <title>TheOgSocialNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light">
    <% if notice %>
      <p class="notification is-warning notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notification is-danger alert"><%= alert %></p>
    <% end %>
    <%= render "shared/navbar" %>
      <section class="section">
        <% if user_signed_in? %>
          <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
              <%= yield %>
            </div>
            <div class="column">
              <aside class="menu">
                <p class="menu-label">Friends</p>
                <ul class="menu-list">
                  <% current_user.friends.each do |friend| %>
                    <li><%= link_to friend.name, user_path(friend), class: 'has-text-link' %></li>
                  <% end %>
                </ul>
              </aside>
            </div>
          </div>
        <% else %>
          <div class="columns">
            <div class="column"></div>
            <div class="column is-8">
              <%= yield %>
            </div>
            <div class="column"></div>
        <% end %>
      </section>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
